@model EldenRing.Models.Response

<h2>Items</h2>

<div style="display: flex; flex-wrap: wrap;">
    @foreach (Items item in Model.Data)
    {
        @* <div style="margin: 10px; text-align: center;"> *@
            <img src="@item.ImageUrl" alt="@item.Name">
            <h3>@item.Name</h3>
       @*  </div> *@
    }
</div>

<h1>Relic </h1>
<img src="https://eldenring.fanapis.com/images/items/17f69d424cel0i1z0mj267csnydppy.png" alt="stuff" />

<h1>Relic 2 </h1>
<img src="https://eldenring.fanapis.com/images/items/17f69e47912l0i1z0lip3kamll88h.png" alt="stuff" />